{% extends "admin/base_site.html" %}
{% block title %}Upload Users from CSV{% endblock %}

{% block content %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div>
        <p>
            Please upload a CSV file with the columns: <strong>first_name, last_name, email</strong>.
            <br>
            The user's default password will be set to their <strong>UITH-STAFF-{last_name}</strong> with the lastname in Capital letters also.
        </p>
        {{ form.as_p }}
    </div>
    <div>
        <input type="submit" value="Upload and Create Users">
    </div>
</form>
{% endblock %}