{% extends 'base.html' %}
{% load static %}


{% block title %}

{% if page == "dashboard" %}
    Dashboard
    {% else %}
    Drafts
{% endif %}

{% endblock title %}
    



{% block main %}
<main class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
    <div class="flex flex-col sm:flex-row justify-between items-start sm:items-center gap-4 mb-6">
        
        {% if page == "dashboard" %}
        <div>
            <h1 class="text-3xl font-bold text-slate-900">Dashboard</h1>
            <p class="mt-2 text-sm text-gray-700">A list of all repair records in the system.</p>
        </div>

        {% else %}

        <div>
            <h1 class="text-3xl font-bold text-slate-900">Draft Records</h1>
            <p class="text-slate-600 mt-1 text-sm">Records that have not been published yet.</p>
        </div>
        {% endif %}
            

    
    </div>

    <div id="filter-search"> 
        {% include 'base/partials/_filter.html' %}
    </div>


    <div id="record-hold">
        {% include 'base/partials/_record_list.html' %}
    </div>

    
</main>
{% endblock main %}
    